/* $Id: style.css,v 1.14 2008/06/28 19:42:00 petruha Exp $ */
body {
	background: #ffffff;
	color: #828282;
	margin-left: 10px;
	margin-right: 25%;
	min-width: 800px;
	max-width: 950px;
	font-family: verdana, helvetica, sans-serif;
	font-size: 13px;
}
p {
	padding: 4px 25px;
}
p.fpr {
	font-size: 25px;
	padding: 0px 25px;
}
p.cvs {
	font-size: 11px;
	padding: 20px 0px;
}
p.hidden {
	display: none;
}
a {
	color: #515151;
	text-decoration: none;
}
a.hover {
	color: #515151;
	text-decoration: underline;
}
img {
	border: 0px solid;
	margin: 2px;
}
